[Unit]
Description=Spacecookie Gopher Daemon
Requires=spacecookie.socket

[Service]
Type=notify
ExecStart=/path/to/spacecookie /path/to/spacecookie.json
FileDescriptorStoreMax=1
NotifyAccess=main
StandardError=journal

[Install]
WantedBy=multi-user.target
