[Unit]
Description=Socket for the Spacecookie Gopher Daemon

[Socket]
BindIPv6Only=both
SocketGroup=spacecookie
SocketUser=spacecookie
SocketMode=0660

ListenStream=[::]:70
