[Unit]
Description=Spacecookie Gopher Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/spacecookie /usr/local/etc/spacecookie.json

[Install]
WantedBy=multi-user.target
