[Unit]
Description=Spacecookie Gopher Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/spacecookie /etc/spacecookie.yaml

[Install]
WantedBy=multi-user.target
